In [ ]:
# INSTALLS THE MYSQL CONNECTOR PACKAGE FOR PYTHON TO ENABLE DATABASE CONNECTIONS
pip install mysql-connector-python

In [ ]:
# IMPORTS THE MYSQL CONNECTOR MODULE TO INTERACT WITH MYSQL DATABASES
import mysql.connector

In [ ]:
# ESTABLISHES A CONNECTION TO THE MYSQL DATABASE USING HOST, USERNAME, PASSWORD, AND DATABASE NAME
# PRINTS THE CONNECTION OBJECT TO VERIFY SUCCESSFUL CONNECTION
# CREATES A CURSOR OBJECT TO EXECUTE SQL QUERIES

connection= mysql.connector.connect(
 host= "localhost",
 user= "root",
 password="",
 database="finalds"
 )
print(connection)
mycursor = connection.cursor()

In [ ]:
# EXECUTES A SQL QUERY TO RETRIEVE ALL TABLES IN THE CONNECTED DATABASE
# FETCHES THE RESULT OF THE QUERY CONTAINING ALL TABLE NAMES
# PRINTS A HEADER INDICATING THE DATABASE TABLES
# ITERATES THROUGH THE FETCHED TABLES AND PRINTS EACH TABLE NAME

mycursor.execute("SHOW TABLES")
tables = mycursor.fetchall()

print("Tables in 'transaction_project' database:")
for table in tables:
    print(table[0])

In [ ]:
# IMPORTS THE PANDAS LIBRARY FOR DATA MANIPULATION AND ANALYSIS
import pandas as pd

In [ ]:
# DEFINES A SQL QUERY TO CREATE A NEW TABLE 'joined_1' IF IT DOES NOT EXIST
# THE TABLE IS POPULATED WITH DATA FROM THE 'transaction' AND 'user' TABLES USING AN INNER JOIN ON 'UserId'
# EXECUTES THE SQL QUERY TO CREATE AND POPULATE THE TABLE, COMMITS THE TRANSACTION TO SAVE CHANGES TO THE DATABASE
query_1 = """
CREATE TABLE IF NOT EXISTS joined_1 AS
SELECT t.TransactionId, t.UserId, t.VisitYear, t.VisitMonth, t.VisitMode, t.AttractionId, t.Rating,
       u.ContenentId, u.RegionId, u.CountryId, u.CityId
FROM transaction t
INNER JOIN user u ON t.UserId = u.UserId;
"""

mycursor.execute(query_1)
connection.commit()
print("Step 1: Created table `joined_1` (transaction + user)")

Step 1: Created table `joined_1` (transaction + user)

In [ ]:
# CREATES 'joined_2' TABLE BY JOINING 'joined_1' AND 'continent' TABLES ON 'ContenentId'
# EXECUTES QUERY, COMMITS CHANGES, AND PRINTS CONFIRMATION

query_2 = """
CREATE TABLE IF NOT EXISTS joined_2 AS
SELECT j1.*, c.Contenent
FROM joined_1 j1
INNER JOIN continent c ON j1.ContenentId = c.ContenentId;
"""

mycursor.execute(query_2)
connection.commit()
print("Step 2: Created table `joined_2` (joined_1 + continent)")

Step 2: Created table `joined_2` (joined_1 + continent)

In [ ]:
# CREATES 'joined_3' TABLE BY JOINING 'joined_2' AND 'region' TABLES ON 'RegionId'
# EXECUTES QUERY, COMMITS CHANGES, AND PRINTS CONFIRMATION

query_3 = """
CREATE TABLE IF NOT EXISTS joined_3 AS
SELECT j2.*, r.Region
FROM joined_2 j2
INNER JOIN region r ON j2.RegionId = r.RegionId;
"""

mycursor.execute(query_3)
connection.commit()
print("Step 3: Created table `joined_3` (joined_2 + region)")

Step 3: Created table `joined_3` (joined_2 + region)

In [ ]:
# CREATES 'joined_4' TABLE BY JOINING 'joined_3' AND 'country' TABLES ON 'CountryId'
# EXECUTES QUERY, COMMITS CHANGES, AND PRINTS CONFIRMATION

query_4 = """
CREATE TABLE IF NOT EXISTS joined_4 AS
SELECT j3.*, co.Country
FROM joined_3 j3
INNER JOIN country co ON j3.CountryId = co.CountryId;
"""

mycursor.execute(query_4)
connection.commit()
print("Step 4: Created table `joined_4` (joined_3 + country)")

Step 4: Created table `joined_4` (joined_3 + country)

In [ ]:
# CREATES 'joined_5' TABLE BY JOINING 'joined_4' AND 'city' TABLES ON 'CityId'
# EXECUTES QUERY, COMMITS CHANGES, AND PRINTS CONFIRMATION

query_5 = """
CREATE TABLE IF NOT EXISTS joined_5 AS
SELECT j4.*, ci.CityName
FROM joined_4 j4
INNER JOIN city ci ON j4.CityId = ci.CityId;
"""

mycursor.execute(query_5)
connection.commit()
print("Step 5: Created table `joined_5` (joined_4 + city)")

Step 5: Created table `joined_5` (joined_4 + city)

In [ ]:
# CREATES 'joined_6' TABLE BY JOINING 'joined_5' AND 'item' TABLES ON 'AttractionId'
# EXECUTES QUERY, COMMITS CHANGES, AND PRINTS CONFIRMATION

query_6 = """
CREATE TABLE IF NOT EXISTS joined_6 AS
SELECT j5.*, it.Attraction, it.AttractionAddress, it.AttractionTypeId
FROM joined_5 j5
INNER JOIN item it ON j5.AttractionId = it.AttractionId;
"""

mycursor.execute(query_6)
connection.commit()
print("Step 6: Created table `joined_6` (joined_5 + item/attraction)")

Step 6: Created table `joined_6` (joined_5 + item/attraction)

In [ ]:
# CREATES 'joined_7' TABLE BY JOINING 'joined_6' AND 'type' TABLES ON 'AttractionTypeId'
# EXECUTES QUERY, COMMITS CHANGES, AND PRINTS CONFIRMATION

query_7 = """
CREATE TABLE IF NOT EXISTS joined_7 AS
SELECT j6.*, t.AttractionType
FROM joined_6 j6
INNER JOIN type t ON j6.AttractionTypeId = t.AttractionTypeId;
"""

mycursor.execute(query_7)
connection.commit()
print("Step 7: Created table `joined_7` (joined_6 + type)")

Step 7: Created table `joined_7` (joined_6 + type)

In [ ]:
# CREATES 'final_table' BY JOINING 'joined_7' AND 'mode' TABLES ON 'VisitMode'
# EXECUTES QUERY, COMMITS CHANGES, AND PRINTS FINAL CONFIRMATION

query_8 = """
CREATE TABLE IF NOT EXISTS final_table AS
SELECT j7.*, m.VisitMode AS VisitModeName
FROM joined_7 j7
INNER JOIN mode m ON j7.VisitMode = m.VisitModeId;
"""

mycursor.execute(query_8)
connection.commit()
print("Step 8: Created table `final_table` (joined_7 + mode) FINAL STEP!")

Step 8: Created table `final_table` (joined_7 + mode) ðŸŽ‰ FINAL STEP!

In [ ]:
# SELECTS ALL DATA FROM 'final_table'
# EXECUTES QUERY AND FETCHES RESULTS
# EXTRACTS COLUMN NAMES FROM CURSOR DESCRIPTION
# CREATES A PANDAS DATAFRAME WITH THE FETCHED DATA AND COLUMN NAMES

query_final = "SELECT * FROM final_table;"
mycursor.execute(query_final)
result_final = mycursor.fetchall()
columns_final = [desc[0] for desc in mycursor.description]

df_final = pd.DataFrame(result_final, columns=columns_final)

In [ ]:
# DISPLAYS THE FIRST FEW ROWS OF THE FINAL DATAFRAME
df_final.head()

In [ ]:
# SAVES THE FINAL DATAFRAME TO A CSV FILE NAMED 'final_ds2.csv' WITHOUT THE INDEX COLUMN
df_final.to_csv("final_ds2.csv",index = False)